CLIENT_ID=your_google_client_id # **.apps.googleusercontent.com
CLIENT_SECRET=your_google_client_secret #*_*
REDIRECT_URI=http://localhost:3/oauth2callback
REFRESH_TOKEN=1//ccccccxxxxx

# Meta/Facebook/Instagram
META_APP_ID=your_meta_app_id
META_APP_SECRET=your_meta_app_secret
META_REDIRECT_URI=http://localhost:3001/meta/oauth2callback
META_USER_ACCESS_TOKEN=your_long_lived_user_token
META_PAGE_ID=your_facebook_page_id
META_PAGE_ACCESS_TOKEN=your_page_access_token
INSTAGRAM_BUSINESS_ACCOUNT_ID=your_ig_business_account_id
PUBLIC_BASE_URL=http://localhost:3001
